---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

{{ content }}
<div class="row">
<div class="col-sm-9 p-2" >

  {%- if site.posts.size > 0 -%}
    <p class="lead">{{ page.list_title | default: "Articles" }}</p>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img width="10%" src="{{post.image}}"> {{ post.title | escape }}
          </a>
        </h3>
        {{ post.excerpt }}
        {%- if site.show_excerpts -%}
          <!--{{ post.excerpt }}-->
        {%- endif -%}
      </li>
      {%- endfor -%}

    


      <h4>
      <a href="{{ post.url | relative_url }}" target="_blank">
        <span class="text-dark">Streamlit Supports 5 Important Data Visualization Libraries - Which to Choose?</span>
    </a></h4>
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="https://alanjones2.github.io/streamlit-chart-varieties/images/rowcharts.png" width='150px' height='auto' alt=""" alt="...">
        </div>
        <div class="flex-grow-1 ms-3">
          <a href="https://alanjones2.github.io/streamlit-chart-varieties/" target="_blank">
            <span class="text-dark">Streamlit Supports 5 Important Data Visualization Libraries - Which to Choose?</span>
        </a>
    
    We code examples using Altair, Bokeh, Plotly, Pandas Plot and Matplotlib, to illustrate the pros and cons of each one
    </div>
      </div>


  </div>




    </ul>
</div>

<div class="col-sm-3 p-2 border" >
Sponsored content
</div>
</div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
